<div class="speaker">
    <h3>@Presenting.Name</h3>
    <p class="social">@Presenting.Social</p>
    <p>@Presenting.Title</p>
    <p>@Presenting.Bio</p>
    <div class="box">
        <img src="@Presenting.Image" alt="@Presenting.Name profile photo" />
    </div>
</div>

@code {

    [Parameter]
    public Presenter Presenting { get; set; }


}